/* unvisited link */
.card a {
  color: orangered;
}

/* selected link */
.card a:hover {
  color: #004E64;
}

/* card layout */
.card {
  border-radius: 1px; 
}

.card:hover {
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
}

/* card image & overlay link */
.card_image:hover img {
  transition: .3s ease;
  opacity: 0.4;
}

.card_image:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
}

.overlay a {
  display: block;
  height: 100%;
  width: 100%;
  font-size: 1.5em;
}

.overlay a:hover {
  text-decoration: none;
}

.overlay a span {
  font-weight: bold;
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}

/* View more button */
.classloader {
  color: #004E64; 
  font-weight: bold;
}
.classloader:hover {
  color: #004E64; 
  font-size: 1.1em;
}

.carousel-item{
    max-width: 100%;
    max-height: 450px
}
.carousel-item h1 {
  margin-right: 500px;
  margin-left: -60px;
  margin-bottom: 60px;
  text-shadow: 0 0 4px #004E64;
  color: #004E64;
  font-size: 40px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
} 
.carousel-item p {
  margin-right: 500px;
  margin-left: -10px;
  font-size: 14px;
  text-shadow: 2px 2px 10px black;
  color: white;
  font-weight: bold;
  font-style: normal;
} 
.carousel-item h3 {
  margin-right: 500px;
  margin-left: -200px;
  margin-bottom: 300px;
  text-shadow: 2px 2px 4px royalblue;
  font-size: 30px;
  color:black;
} 

.carousel-item h6 {
  margin-right: 500px;
  margin-left: -150px;
  margin-bottom: 200px;
  text-shadow: 2px 2px 8px orangered;
  font-size: 50px;
  color: black;
}
.container h3 {
  padding: 30px;
  padding-top: 20px;
}

/* homepage button style1 */
.btn-primary1 {
  color: #004E64;
  background-color: #ffffff;
  border-color: #004E64;
  font-weight: bold;
  letter-spacing: 0.01em;
  border-radius: 0;
  border-width:3px;
  font-size: 14px;
  margin-bottom: 0.25em;
  }

  .btn-primary1:hover,
  .btn-primary1:active,
  .btn-primary1:focus,
  .btn-primary1.active {
  background: #004E64;
  color: #ffffff;
  border-color: #004E64;
  font-size: 14px;
  }

/* style1 end */

/* homepage button style1*/
.btn-primary2 {
  color: #004E64;
  background-color: #ffffff;
  border-color: #004E64;
  font-weight: bold;
  letter-spacing: 0.01em;
  border-radius: 0;
  border-width:3px;
  font-size: 14px;
  margin-bottom: 0.25em;  
  }

  .btn-primary2:hover,
  .btn-primary2:active,
  .btn-primary2:focus,
  .btn-primary2.active {
  background: #004E64;
  color: #ffffff;
  border-color: #004E64;
  font-size: 14px;
  }

/* style1 end */

/* homepage button style2
.btn-primary2 {
  color:#ffffff;
  background-color: #004E64;
  font-weight: bold;
  letter-spacing: 0.12em;
  border-radius: 0;
  font-size: 16px;
  }


  .btn-primary2:hover,
  .btn-primary2:active,
  .btn-primary2:focus,
  .btn-primary2.active {
  background:#ffffff;
  border-color: #004E64;
  color:#004E64;
  border-width:3px;
  font-size: 16px;
  }

  /* style2 end */

/* Universal modal style */
  .modal-dialog {
      position: relative;
      top: 30%;
      transform: translateY(-30%);
      border-radius:1px;
  }

  .modal-content{
      box-shadow: 6px 6px 20px 1px;
      border-radius: 1px;
  }
/*
.container h4 {
  margin-bottom: 200px;
 
}

.container button{
  color: blue;
}
*/

